/*Importerer de forskellige fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://p.typekit.net/p.css?s=1&k=gur3pox&ht=tk&f=50750.50754.50757.50759.50761.50762&a=248534216&app=typekit&e=css");

@font-face {
    font-family: 'Kaftan';
    src: url('./fonts/kaftan-trial.otf') format('opentype');
    /* Path to the font file */
    font-weight: normal;
    font-style: normal;
}


/* Definerer 4 grundfarver */
:root {
    --primaereFarve: #FCF9F2;
    --sekundaereFarve: #340F0F;
    --blofarve: #0B132B;
    --morkebrun: #230902;
}

body {
    background-color: var(--primaereFarve);
    margin: 0;
    /*fjerner alt margin, som basis*/
    padding: 0;
    /*fjerner alt padding, som basis*/
    width: 100vw;
}

/* Definerer fonts med korrekt vægt højde og farve */

p {
    font-family: 'Montserrat';/* font*/
    font-size: 16px;/* skrift størrelse */
    line-height: 2.5; /* Plads mellem linjerne*/
    color: var(--sekundaereFarve); /* Farven på skriften*/
}

h1 {
    font-family: 'Kaftan', sans-serif;
    font-size: 55px;
    font-weight: 30; /* vægt på fonten*/
    color: var(--sekundaereFarve);
    margin: 0;
    position: relative; /*Sætter den til position relative, da den skal ændres på vha. javascript */
}

h2 {
    font-family: "sigurd";
    font-weight: 15;
    margin-bottom: 0px;
    font-size: 30px; /*Gør font størrelsen større, da den skal være det på den her side specifikt*/
    color: var(--sekundaereFarve);
}


/* ---- BODY DELEN ---- */


/* Sørger for at contentet er tilpasset en mobilskærm (viewport) */
@media screen and (min-width: 200px) and (max-width: 480px) {

    /* Placerer af navigation burger og log ind ikon */
    .top {
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 40px;
    }

    /* Tilpasser navigation ikon størrelse */
    .top img {
        max-width: 40px;
        max-height: 35px;
    }

    /* Placering af overskriften */
    .overskrift {
        margin-bottom: 0px;
        margin-top: 40px;
    }


    /* MENU DELEN */

    /* Styling af menuen */
    .menu {
        position: fixed;
        top: 0;
        right: -100%; /* Skjult udenfor skærmen */
        width: 60%;
        height: 100%;
        background-color: #0B132B;
        color: #FCF9F2;
        transition: right 0.5s ease-in-out; /* Hastighed på menu slider */
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 30px 0 0 30px; /* runde hjorner*/
    }

    .menu ul {
        list-style: none; /* Fjerner standard punkttegn fra listen */
        text-align: end; /* Placerer teksten i højre side*/
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Tilføjer whitespace mellem links */
        height: 80%; /* tilpasser højden på selve menu boxen */
        margin-top: 0px;
    }

    /* Plads mellem x og tekst */
    .menu ul li {
        margin: 20px 0;
    }

    /* dekoration af tekst*/
    .menu ul li a {
        text-decoration: none;
        color: #FCF9F2;
        font-size: 30px;
        font-family:'Kaftan', sans-serif;
    }

    /* Luk-knap */
    .menuluk {
        align-self: flex-end;
        font-size: 24px;
        cursor: pointer;
    }

    /* Aktiv menu */
    .menu.active {
        right: 0;
        /* Glid ind på skærmen */
    }


    /* Skjul dropdown-menuen */
    .hidden {
        display: none;
    }

    /* Styling for dropdown-menu */
    #holdMenu a {
        padding-right: 20px;
        /* Indrykning for at skille den fra hovedmenuen */
        font-size: 25px;
        /* størrelse på font */
        font-family: 'Montserrat';
        /* font */
        font-weight: 15;
        /* font vægt */
        color: var(--primaereFarve);
        /* font farve */

    }

    #blivMedlemMenu a {
        padding-right: 20px;
        font-family: 'Montserrat';
        font-weight: 15;
        color: var(--primaereFarve);

    }

    #faciliteterMenu a {
        padding-right: 20px;
        font-size: 25px;
        font-family: 'Montserrat';
        font-weight: 15;
        color: var(--primaereFarve);

    }

    #kontaktMenu a {
        padding-right: 20px;
        font-size: 25px;
        font-family: 'Montserrat';
        font-weight: 15;
        color: var(--primaereFarve);

    }


    /*   ------- INDHOLDET ----- */

    html,
    body {
        overflow-x: hidden; /* Forhindrer horisontal scroll */
    }


    /*Placering af overskriften*/
    #ordEt {
        margin-left: 50px;
        position: relative;/* Sørger for, at det holder sig inden for parent-elementet */
    }

    #ordTo {
        margin-left: 100px;
    }


    /* Gør kanterne på billederne runde*/
    img {
        border-radius: 10%;
    }


    /* Placering af holdene */
    .holdene {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10%;
        margin-top: 0%;
    }

    /* Styling af holdene */
    .holdbillede {
        display: flex;
        justify-content: center;
        width: 300px;
        height: 375px;
        margin-top: 40px;
    }


    /*Styler billederne i holdende*/
    .holdimg {
        display: flex;
    }


    /*Fjerner margin i toppen*/
    p {
        margin-top: 0;
    }

    
    /*Styling af læs mere*/
    .LaesMere {
        text-decoration: none;
        font-family: 'Montserrat';
        font-weight: bold;
        color: #230902;
    }
    
    /* Styling og placering af CTA-knap */
    button {
            background-color: #0B132B;
            color: #FCF9F2;
            border-radius: 20px;
            width: 100px;
            float: right; /*Placerer den i højre hjørne*/
        }

    /*Styler varighed til at fremstå tyndere*/
    .varighed {
        font-weight: lighter;
    }



    /* ---- FOOTER ---- */

    .footer {
        display: flex;
        justify-content: space-around;
        padding-top: 100px;
        padding-bottom: 25px;
        position: relative;
        background: url('bolgebaggrund.svg') no-repeat bottom center;
        color: var(--sekundaereFarve);
        overflow: hidden;
        align-items: center;
    }

    /*Styling af logo billedet*/
    .footer img {
        width: 80px;
        padding-left: 20px;
    }


    .info {
        color: var(--primaereFarve);
        text-align: right;
    }

    /*Placering af sociale medier billederne*/
    .some {
        display: flex;
        justify-content: flex-end;
        gap: 0px;
        padding-top: 35px;
    }

    /*Styling af sociale medier billederne*/
    .some img {
        max-width: 35px;
    }

    .info p {
        color: var(--primaereFarve);
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 0px;
        font-family: 'Montserrat';
    }

}