@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'MyFont';
    src: url('') format('truetype'); /* Til TTF */
    font-weight: normal; /* Angiv vægt (normal, bold osv.) */
    font-style: normal; /* Angiv stil (normal, italic osv.) */
}


:root {
    --primaereFarve: #FCF9F2;
    --sekundaereFarve: #340F0F;
    --blofarve: #0B132B;
    --morkebrun: #230902;
}

body{
    background-color: var(--primaereFarve);
    margin: 0; /*fjerner alt margin, som basis*/
    padding: 0; /*fjerner alt padding, som basis*/
}

p{
    font-family: 'Montserrat';
}

@media screen and (min-width: 200px) and (max-width: 480px) {
.top{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
}

.top img{
    max-width: 35px;
}

.logoforside{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.logoforside img{
    width: 250px;
    display: flex;
    justify-content: center;
}

.tekst{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.overskrift{
    text-align: center;
}

/* foooter */

.footer{
        display: flex;
        justify-content: space-around;
        padding-top: 100px;
        padding-bottom: 20px;
        position: relative; 
        background: url('bolgebaggrund.svg') no-repeat bottom center;
        color: var(--sekundaereFarve);
        overflow: hidden; 
        align-items: center;
}

.footer img{
    width: 50px;
}


.info{
    color: var(--primaereFarve);
    text-align: right;
}

.some{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}


}
