
:root {
    --primaereFarve: #FCF9F2;
    --sekundaereFarve: #340F0F;
    --blofarve: #0B132B;
    --morkebrun: #230902;
}

body{
    background-color: var(--primaereFarve);
}

@media screen and (min-width: 200px) and (max-width: 480px) {
.top{
    display: flex;
    justify-content: space-evenly;
}

.logoforside{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.logoforside img{
    width: 150px;
    display: flex;
    justify-content: center;
}

.tekst{
    display: flex;
    flex-direction: column;
}

.overskrift{
    text-align: center;
}

/* foooter */

.footer{
        display: flex;
        justify-content: space-around;
        align-items: flex-start; 
        padding-top: 100px;
        padding-bottom: 10px;
        position: relative; 
        background: url('bolgebaggrund.svg') no-repeat bottom center;
        color: var(--sekundaereFarve);
        overflow: hidden; 
        align-items: center;
}

.footer img{
    width: 50px;
}


.footer p{
    color: var(--primaereFarve);
    text-align: left;
}

.footerlogo{
    display: flex;
    align-items: center;
}



}
