@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://p.typekit.net/p.css?s=1&k=gur3pox&ht=tk&f=50750.50754.50757.50759.50761.50762&a=248534216&app=typekit&e=css");

@font-face {
    font-family: 'Kaftan';
    src: url('./fonts/kaftan-trial.otf') format('opentype'); /* Path to the font file */
    font-weight: normal;
    font-style: normal;
}

/* 4 grundfarver */
:root {
    --primaereFarve: #FCF9F2;
    --sekundaereFarve: #340F0F;
    --blofarve: #0B132B;
    --morkebrun: #230902;
}

body{
    background-color: var(--primaereFarve);
    margin: 0; /*fjerner alt margin, som basis*/
    padding: 0; /*fjerner alt padding, som basis*/
    width: 100vw;
}

/* Fonts og med korrekt vogt hojde og farve */


p{
    font-family: 'Montserrat'; /* font*/
    font-size: 16px; /* skrift størrelse */
    line-height: 2.5; /* Plads mellem linjerne*/
    color: var(--sekundaereFarve);/* Farve på skriften*/
} 

h1{
    font-family: 'Kaftan', sans-serif;
    font-size: 55px;
    font-weight: 30; /* vægt på fonten*/
    color: var(--sekundaereFarve);
    margin: 0px;
    position: relative; /*Sætter den til position relative, da */
}

h2{
    font-family:"sigurd";
    font-weight: 15;
    margin-bottom: 0px;
    font-size: 30px;
    color: var(--sekundaereFarve);
    font-weight: 700;
    margin-top: 0;
}

h3{
    margin-bottom: 20px;
    margin-top: 2px;
    font-size: 18px;
    font-family: 'Montserrat'; /* font*/
    color: var(--sekundaereFarve);/* Farve på skriften*/
    font-weight: 300;
}

h4{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Montserrat'; /* font*/
    color: var(--sekundaereFarve);/* Farve på skriften*/
    font-weight: 500;
}

/* viewport */
@media screen and (min-width: 200px) and (max-width: 480px) {

html, body {
        overflow-x: hidden; /* Forhindrer horisontal scroll */
 }

/* overskrift */
.overskrift{
    margin-top: 40px;
    margin-bottom: 20px;
}

.filter h2{
    font-size: 25px;
}

/* hold box */

.hold{
    margin-top: 50px;
}

.holdbeskrivelse {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.holdbeskrivelse p {
    margin: 0;
}


/* filter knap */
.filterknapbox select {
    padding: 6px 12px; /* Lignende padding som tilmeld-knap */
    font-size: 14px; /* Tekststørrelse */
    border: 1px solid var(--blofarve); /* Ramme med primær farve */
    border-radius: 30px; /* Runde hjørner */
    background-color: var(--primaereFarve); /* Baggrundsfarve */
    color: var(--sekundaereFarve); /* Tekstfarve */
    cursor: pointer; /* Pointer ved hover */
    outline: none; /* Fjerner default outline */
    font-family: 'Montserrat', sans-serif; /* Samme font som tilmeld-knap */
}

/* Styling for filterknappen */
.filterknapbox  button {
    padding: 6px 20px; /* Lignende padding som tilmeld-knap */
    font-size: 14px; /* Tekststørrelse */
    border: 1px solid var(--blofarve); /* Ramme med primær farve */
    border-radius: 30px; /* Runde hjørner */
    background-color: var(--blofarve); /* Baggrundsfarve som tilmeld-knap */
    color: var(--primaereFarve); /* Tekstfarve */
    cursor: pointer; /* Pointer ved hover */
    font-family: 'Montserrat', sans-serif; /* Samme font som tilmeld-knap */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.filterknapbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Styling for filterikonet */
#filterikon {
    cursor: pointer;
    width: 30px;
}

/* OVERSKRIFTEN */

#ordEt{
    margin-left: 60px;
    position: relative; /* Sørger for, at det holder sig inden for parent-elementet */
    right: 0; /* Fjerner overskud til højre */
    }
    
    #ordTo{
    margin-left: 170px;
    }
    


/* filter */
.filter {
    margin-left: 15%;
    display: flex; /* gør elementerne vandret */
    align-items: flex-start; /* gor teksten og ikonet er på samme linje */
    margin-bottom: 50px;
    gap: 10px;
    padding-top: 20px;
    flex-direction: column;
}

.filter img{
    max-width: 25px;
    max-height: 20px;
}

.filterikonet{
    display: flex;
}

.skjult {
    display: none;
}


/*tilmeld knap */

.tilmeld-knap {
    background-color: var(--blofarve); /* Baggrundsfarve */
    color: var(--primaereFarve); /* Tekstfarve */
    border: none; /* Ingen kant */
    border-radius: 30px; /* Runde hjørner */
    padding: 6px 35px; /* Indvendig afstand */
    font-family: Arial, sans-serif; /* Skrifttype */
    font-size: 13px; /* Tekststørrelse */
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer; /* Markør ved hover */
}

.tilmeldbox{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end; /* venstre justere */
    margin-right: 50px;
}


/* bolgelinje */

.bolgelinjen{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.bolgelinjen img{
    max-width: 70%;
}

/*Navigation burger og ikon mand */
    .top{
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 40px;
    }
/* navigation ikon størrelse */ 
.top img{
    max-width: 40px;
    max-height: 35px;
}


/* Menu styling */
.menu {
    position: fixed;
    top: 0;
    right: -100%; /* Skjult udenfor skærmen */
    width: 60%;
    height: 100%;
    background-color: #0B132B;
    color: #FCF9F2;
    transition: right 0.5s ease-in-out; /* hastighed på menu slider */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px 0 0 30px; /* runde hjorner*/
}

.menu ul {
    list-style: none;
    padding: 0;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* spreeder links */
    height: 80%; /* hojden på selve menu boxen */
    margin-top: 0px;
}

/* plads mellem x og tekst */
.menu ul li {
    margin: 20px 0;
}

/* dekoration af tekst*/
.menu ul li a {
    text-decoration: none;
    color: #FCF9F2;
    font-size: 30px;
}

/* Luk-knap */
.menuluk {
    align-self: flex-end;
    font-size: 24px;
    cursor: pointer;
}

/* Aktiv menu */
.menu.active {
    right: 0; /* Glid ind på skærmen */
}


/* Skjul dropdown-menuen */
.hidden {
    display: none;
}

/* Styling for dropdown-menu */
#holdMenu a {
    padding-right: 20px; /* Indrykning for at skille den fra hovedmenuen */
    font-size: 25px; /* størrelse på font */
    font-family: 'Montserrat'; /* font */
    font-weight: 15; /* font vægt */
    color: var(--primaereFarve); /* font farve */

}

#blivMedlemMenu a {
    padding-right: 20px;  
    font-family: 'Montserrat';
    font-weight: 15;
    color: var(--primaereFarve);

}

#faciliteterMenu a {
    padding-right: 20px; 
    font-size: 25px; 
    font-family: 'Montserrat';
    font-weight: 15;
    color: var(--primaereFarve);

}

#kontaktMenu a {
    padding-right: 20px; 
    font-size: 25px; 
    font-family: 'Montserrat';
    font-weight: 15;
    color: var(--primaereFarve);

}



/* foooter */

.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 25px;
    position: relative; 
    background: url('bolgebaggrund.svg') no-repeat bottom center;
    color: var(--sekundaereFarve);
    overflow: hidden; 
    align-items: center;
}

.footer img{
width: 80px;
padding-left: 20px;
}


.info{
color: var(--primaereFarve);
text-align: right;
}

.some{
display: flex;
justify-content: flex-end;
gap: 0px;
padding-top: 35px;
}

.some img{
max-width: 35px;
}

.info p{
color: var(--primaereFarve);
font-size: 12px;
line-height: 1.5;
margin-bottom: 0px;
font-family: 'Montserrat';
}

}

