@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://p.typekit.net/p.css?s=1&k=gur3pox&ht=tk&f=50750.50754.50757.50759.50761.50762&a=248534216&app=typekit&e=css");

@font-face {
    font-family: 'Kaftan';
    src: url('./fonts/kaftan-trial.otf') format('opentype'); /* Path to the font file */
    font-weight: normal;
    font-style: normal;
}

/* 4 grundfarver */
:root {
    --primaereFarve: #FCF9F2;
    --sekundaereFarve: #340F0F;
    --blofarve: #0B132B;
    --morkebrun: #230902;
}

body{
    background-color: var(--primaereFarve);
    margin: 0; /*fjerner alt margin, som basis*/
    padding: 0; /*fjerner alt padding, som basis*/
    width: 100vw;
}

/* Fonts og med korrekt vogt hojde og farve */


p{
    font-family: 'Montserrat'; /* font*/
    font-size: 16px; /* skrift størrelse */
    line-height: 2.5; /* Plads mellem linjerne*/
    color: var(--sekundaereFarve);/* Farve på skriften*/
} 

h1{
    font-family: 'Kaftan', sans-serif;
    font-size: 55px;
    font-weight: 30; /* vægt på fonten*/
    color: var(--sekundaereFarve);
    margin: 0px;
    position: relative; /*Sætter den til position relative, da */
}

h2{
    font-family:"sigurd";
    font-weight: 15;
    margin-bottom: 0px;
    font-size: 30px;
    color: var(--sekundaereFarve);
    font-weight: 700;
    margin-top: 0;
}

h3{
    margin-bottom: 20px;
    margin-top: 2px;
    font-size: 18px;
    font-family: 'Montserrat'; /* font*/
    color: var(--sekundaereFarve);/* Farve på skriften*/
    font-weight: 300;
}

h4{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Montserrat'; /* font*/
    color: var(--sekundaereFarve);/* Farve på skriften*/
    font-weight: 500;
}

/* viewport */
@media screen and (min-width: 200px) and (max-width: 480px) {

html, body {
        overflow-x: hidden; /* Forhindrer horisontal scroll */
 }

/* overskrift */
.overskrift{
    margin-top: 40px;
    margin-bottom: 20px;
}


/* hold box */

.hold{
    margin-top: 50px;
}

.holdbeskrivelse {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.holdbeskrivelse p {
    margin: 0;
}


/* filter knap */
.filterknapbox select {
    padding: 6px 12px; /* Lignende padding som tilmeld-knap */
    font-size: 14px; /* Tekststørrelse */
    border: 1px solid var(--blofarve); /* Ramme med primær farve */
    border-radius: 30px; /* Runde hjørner */
    background-color: var(--primaereFarve); /* Baggrundsfarve */
    color: var(--sekundaereFarve); /* Tekstfarve */
    cursor: pointer; /* Pointer ved hover */
    outline: none; /* Fjerner default outline */
    font-family: 'Montserrat', sans-serif; /* Samme font som tilmeld-knap */
}

/* Styling for filterknappen */
.filterknapbox  button {
    padding: 6px 20px; /* Lignende padding som tilmeld-knap */
    font-size: 14px; /* Tekststørrelse */
    border: 1px solid var(--blofarve); /* Ramme med primær farve */
    border-radius: 30px; /* Runde hjørner */
    background-color: var(--blofarve); /* Baggrundsfarve som tilmeld-knap */
    color: var(--primaereFarve); /* Tekstfarve */
    cursor: pointer; /* Pointer ved hover */
    font-family: 'Montserrat', sans-serif; /* Samme font som tilmeld-knap */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.filterknapbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Styling for filterikonet */
#filterikon {
    cursor: pointer;
    width: 30px;
}

.filter h2{
    font-size: 25px;
}


/* OVERSKRIFTEN */

#ordEt{
    margin-left: 60px;
    position: relative; /* Sørger for, at det holder sig inden for parent-elementet */
    right: 0; /* Fjerner overskud til højre */
    }
    
    #ordTo{
    margin-left: 170px;
    }
    


/* filter */
.filter {
    margin-left: 15%;
    display: flex; /* gør elementerne vandret */
    align-items: flex-start; /* gor teksten og ikonet er på samme linje */
    margin-bottom: 50px;
    gap: 10px;
    padding-top: 20px;
    flex-direction: column;
}

.filter img{
    max-width: 25px;
    max-height: 20px;
}

.filterikonet{
    display: flex;
    gap: 10px;
}

.skjult {
    display: none;
}


/*tilmeld knap */

.tilmeld-knap {
    background-color: var(--blofarve); /* Baggrundsfarve */
    color: var(--primaereFarve); /* Tekstfarve */
    border: none; /* Ingen kant */
    border-radius: 30px; /* Runde hjørner */
    padding: 6px 35px; /* Indvendig afstand */
    font-family: Arial, sans-serif; /* Skrifttype */
    font-size: 13px; /* Tekststørrelse */
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer; /* Markør ved hover */
}

.tilmeldbox{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end; /* venstre justere */
    margin-right: 50px;
}


/* bolgelinje */

.bolgelinjen{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.bolgelinjen img{
    max-width: 70%; /* bredden på linjen */
}



/*Navigation burger og ikon mand */
 /* Top-sektion styling */
#logofixed {
    position: fixed; /* Gør logoet fast på skærmen */
    bottom: 30px; /* Placér det 20px fra bunden */
    right: 20px; /* Placér det 20px fra højre side */
    z-index: 1000; /* Sørger for, at det er øverst */
}

#logofixed img {
    max-width: 50px; /* Sæt en maksimal bredde på logoet */
    max-height: 50px; /* Sæt en maksimal højde på logoet */
    cursor: pointer; /* Ændrer markøren til en hånd ved hover */
}

.top {
    position: fixed; /* Gør sektionen fast på toppen af siden */
    top: +40px; /* Sætter den helt op i toppen */
    left: 0; /* Sætter den helt til venstre */
    width: 90%; /* Fylder hele bredden af skærmen */
    z-index: 1000; /* Sørger for, at den ligger øverst */
    display: flex; /* Holder burgerikonet og log ind-ikonet på linje */
    justify-content: space-between; /* Placerer ikonerne i hver sin ende */
    padding: 20px 25px; /* Tilføjer lidt luft omkring ikonerne */

}

/* Styling af billeder i top-sektionen */
.top img {
    max-width: 42px;
    max-height: 36px;
}

/* Menu styling */
.menu {
    position: fixed;
    top: 0;
    right: -100%; /* Skjult udenfor skærmen */
    width: 60%;
    height: 100%;
    background-color: #0B132B;
    color: #FCF9F2;
    transition: right 0.5s ease-in-out; /* Glidende animation */
    z-index: 1001;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px 0 0 30px; /* Runde hjørner */
}

/* Menuens ul styling */
.menu ul {
    list-style: none;
    padding: 0;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Spred linksene */
    height: 80%; /* Højden på boxen */
    margin-top: 0px;
}

/* Afstand mellem links */
.menu ul li {
    margin: 20px 0;
}

/* Styling af links i menuen */
.menu ul li a {
    text-decoration: none;
    color: #FCF9F2; /* Tekstfarve */
    font-family: 'Kaftan'; /* Skrifttype */
    font-weight: 100;
    font-size: 30px; /* Skriftstørrelse */
}

/* Luk-knap styling */
.menuluk {
    align-self: flex-end;
    font-size: 24px;
    cursor: pointer;
}

/* Den klasse som blev tilføjet igennem javascript når burgermenuen klikkes */
.menu.active {
    right: 0; /* Menu glider ind på skærmen */
}

/* Undermenu skjul */
.hidden {
    display: none;
}

/* Dropdown-menu styling */
#holdMenu a,
#blivMedlemMenu a,
#faciliteterMenu a,
#kontaktMenu a {
    font-size: 25px;
    font-family: 'Montserrat'; /* Skrifttype */
    font-weight: 100; /* Normal vægt */
    color: var(--primaereFarve); /* Tekstfarve */
}



/* foooter */

.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 25px;
    position: relative; 
    background: url('bolgebaggrund.svg') no-repeat bottom center;
    color: var(--sekundaereFarve);
    overflow: hidden; 
    align-items: center;
}

.footer img{
width: 80px;
padding-left: 20px;
}


.info{
color: var(--primaereFarve);
text-align: right;
}

.some{
display: flex;
justify-content: flex-end;
gap: 0px;
padding-top: 35px;
}

.some img{
max-width: 35px;
}

.info p{
color: var(--primaereFarve);
font-size: 12px;
line-height: 1.5;
margin-bottom: 0px;
font-family: 'Montserrat';
}

}

